# Python
**/venv/
**/__pycache__/

# Zig
**/.zig-cache/
**/zig-out/
**/release/
**/debug/
**/build/
**/build-*/
**/docgen_tmp/
**/*.exe
**/*.exe.obj

# Although this was renamed to .zig-cache, let's leave it here for a few
# releases to make it less annoying to work with multiple branches.
**/zig-cache/
